extends layout

block head
    link(rel="stylesheet" href="/css/index.css")

block content
    main
        h2 Hello, #{user ? user.firstName : "Guest"}!
        h3 Messages
        ul
            each message in messages
                li
                    h4=message.title
                        if message.user 
                            span #[em=" - " + message.user.firstName + " " + message.user.lastName]
                    p=message.body
                    div(class="date")
                        em=message.dateFormatted
                    if user && user.isAdmin
                        form(action="/delete-message", method="post")
                            input(type="hidden" name="message" value=message._id)
                            button(type="submit") Delete Message
